@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400italic');

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-bottom: 50px;
  font-family: 'Fugaz One', sans-serif;
  background: url(./images/worn-dots.png);
  color: #222;
  box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.3);
}

.header {
  height: 150px;
  padding: 10px;
  background: #222;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 0 100%, 130% 60px, 100% 0);
  clip-path: polygon(0 0, 0 100%, 130% 60px, 100% 0);
}

.logo {
  position: absolute;
  top: 58px;
  left: 20.25%;
  transform: rotate(-5deg);
  font-size: 32px;
  letter-spacing: -4px;
  text-transform: lowercase;
}

.logo span {
  display: inline-block;
}

.logo .letter-3 {
  font-size: 37px;
}

.logo .letter-4 {
  padding: 0 6px;
  background: #fff;
  color: #222;
}

.logo .letter-6 {
  font-size: 42px;
}

.logo .letter-8,
.logo .letter-9 {
  font-size: 40px;
}

.logo .letter-10 {
  font-size: 35px;
}

.main {
  margin: 20px 0 0;
  text-align: center;
}

.sample {
  height: 300px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.sample img {
  max-height: 100%;
}

.sample a {
  display: block;
  width: 100%;
  height: 100%;
}

.sample.tall img {
  max-height: none;
  max-width: 100%;
}

h2 {
  display: inline-block;
  font-family: 'Noto Serif';
  font-weight: 400;
  color: #444;
}

h2 a {
  padding: 0 10px;
  display: inline-block;
  color: #444;
  background: #fff;
  text-decoration: none;
}

h2 a:hover {
  color: #000;
  background: yellow;
}

@media(max-width: 725px) {
  .header {
    -webkit-clip-path: polygon(0 0, 0 100%, 130% 60px, 100% 0);
    clip-path: polygon(0 0, 0 100%, 130% 60px, 100% 0);
  }
}

@media(max-width: 580px) {
  .header {
    height: 128px;
    -webkit-clip-path: polygon(0 0, 0 100%, 177% 60px, 100% 0);
    clip-path: polygon(0 0, 0 100%, 177% 60px, 100% 0);
  }

  .logo {
    top: 45px;
    left: 16%;
  }
}
