html, body {
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 8% 16%;
  border-top: 10px solid #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.04'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  margin-bottom: 0;
  font-size: 70px;
  letter-spacing: -3px;
}

h2 {
  margin-top: 0;
  font-weight: 300;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 500;
}

p {
  line-height: 24px;
}

.underline {
  margin-bottom: 2rem;
  width: 50px;
  border-bottom: 10px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.github-link {
  color: #000;
  transition: all 0.5s;
}

.github-link:hover {
  color: #444;
}

.github-icon {
  margin: 5rem 2rem 0 0;
  font-size: 60px;
  text-align: right;
}

.projects {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.projects li {
  position: relative;
  margin: 2rem 2rem 0 0;
  width: calc(25% - 2rem);
  height: 180px;
  background: #fff;
  border-top: 3px solid #000;
}

.projects li.full-width {
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  background: #000;
  border-bottom: none;
}

.projects li a {
  padding: 1rem;
  height: calc(100% - 2rem);
  display: block;
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.projects li a:hover {
  color: #444;
}

.projects li.full-width a {
  padding: 2rem;
}

.projects a:hover .view-project-cta {
  opacity: 1;
}

.projects li img {
  width: 100%;
  transition: all 0.5s;
}

.projects a:hover img {
  opacity: 0.3;
}

.view-project-cta {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}

@media(max-width: 1535px) {
  .projects li {
    width: calc(33.333% - 2rem);
    height: 220px;
  }
}

@media(max-width: 950px) {
  .projects li {
    width: calc(50% - 2rem);
    height: 200px;
  }

  .projects li.full-width {
    margin-bottom: 2rem;
  }

  .projects li.full-width a {
    padding: 1rem;
  }

  .view-project-cta {
    font-size: 24px;
  }
}

@media(max-width: 800px) {
  .github-link {
    display: none;
  }

  .underline {
    margin-bottom: 0;
  }

  .projects li:not(.full-width) {
    padding-bottom: 3rem;
    width: calc(100% - 2rem);
    height: auto;
  }

  .projects li.full-width {
    margin-bottom: 1rem;
  }

  .view-project-cta {
    font-size: 14px;
  }
}

@media(max-width: 580px) {
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 22px;
  }
}